
         <div class="container conback">
 <div class="page-header pc-num">  
      <div class = "row">
<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6"> 
<label><h1>PC</h1></label>
     <input id  = "12345-name" type="textbox">
      </div>
      </div>
</div>

<div class = "jumbotron jumbodeco" >
    <div class = "row">
        </div>
    <div class = "row">
<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="time">
    <input id  = "12345-v-start" type="button" class="btn btn-success conback" value="start" >
  <input type="button" class="btn btn-danger conback" value="stop" >
  <input type="button" class="btn btn-primary conback" value="reset">
    <input type="button" class="btn btn-warning conback" value="Game Price Total">
    </div><br>
    <br>     <!-- time div end -->  
    <h3 class="start">Start Time: </h3>
    <h3 class="stoptime">Stop  Time: </h3>
    <span id="time1"></span><br/>
    
    </div>
    </div>

<div class = "row">
<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 sidebev">
   <div class = "bevElem">
   <select id = "select3">
  <option>Momo</option>
  <option>Chowmin</option>
  <option>ChowChow</option>
  <option>Bhutan chuira</option>
  </select>
  <h6 >Quantiy</h6>
  <input id = "quantity3" class="qtybev" type="text" >
  <label class = "labelfontdeco">Price</label>
  <input id = "bevprice3" class="pricebev" type="text" >
  <input type="button" class="btn btn-primary btn-add" value="OK" onClick="bevstore(3);"><br><br>
</div>

   <table border="1" id="tblRGA1" class="table table-hover">
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price Per Quantity</th> 
                <th>Price</th>          
            </tr>
        </table>
  
</div> <!-- 2ND COL DIV END HERE -->
</div> <!-- END OF 2ND ROW -->
   </div>

        </section><!-- /.content -->